
.App {
  margin: 30px;
  
}

.InputBox{

  padding: 3px;
  width: 15rem;
  background-color: white;
  margin-right: 10px;
}

.InputButton{
  background-color: white;
}
.UnListStyle{
  display: flex;
  list-style: none;
}

.ListStyle{
  display: flex;
  margin: 10px;
  border: 2px solid blank;
  padding: 8px;
  background-color: chartreuse;
  width: fit-content;
  border-radius: 10px;
}
